/* .container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
} */
.closebtn {
  content: url('../assets/img/close-default.jpg');
  position: absolute;
  float: right;
  right: 0;
  height: 22px;
  width: 26px;
  z-index: 10000;
  cursor: pointer;
}
.closebtn:hover {
  content: url('../assets/img/close-hover.jpg');
}

.startbtn {
  float: right;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 75px;
  width: 104px;
  margin-bottom: 8px;
  margin-right: 5px;
  cursor: pointer;
  z-index: 1000000;
}
.startbtn:hover {
  content: url('../assets/img/start-hover.jpg');
}
.startbtn:active {
  content: url('../assets/img/start-down.jpg');
}
div[disabled]
{
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}
.startbtn img {
  height: 100%;
  width: 100%;
}
.iframe {
  margin: auto;
  padding-left: 3px;
  padding-right: 12px;
  padding-top: 160px;
  width: 578px;
  position: fixed;
}
.iframe iframe {
  overflow: hidden;
  height: 312px;
  width: 100%;
  margin: 5px;
}
.downloadCaption {
  float: left;
  bottom: 0;
  left: 0;
  position: absolute;
  margin-bottom: 59px;
  margin-left: 159px;
  color: #ffffff;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.prograss {
    margin-left: 68px;
    padding-top: 523px;
    width: 403px;

}
.prograssupdate{
    margin-left: 65px;
    width: 403px;
    height: 42px;
    padding-top:2px;
}
.percentage {
  float: left;
  bottom: 0;
  left: 0;
  position: absolute;
  margin-bottom: 17px;
  margin-left: 267px;
  color: #ffffff;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
